<br/>
<form>
  <h4>
    Create a new Organisation
  </h4>
  <br/>
  <div class="container">
    <div class="row align-items-center">
      <label class="col-sm-3" style="max-width: 100px">Name:
      </label>
      <input class="form-control col-sm-9" style="max-width: 300px" [formControl]="newOrgName"
        placeholder="Organisation Name" id="create-organisation-organisationName">
    </div>
    <div class="row alert alert-danger" *ngIf="newOrgName.touched && !newOrgName.valid">
      An Organisation Name is Required
    </div>
    <br/>
    <div class="row">
      <button class="btn btn-primary" type="button" id="create-organisation-createButton" (click)="create()">
        Create
      </button>  
    </div>
  </div>
</form>  
