<h1 id="start-welcomeMessage" align="center">Welcome {{ userName }}</h1>
<br/>
<br/>
<p id="start-text">
  To get started you must either create a you own new organisation or join an existing organisation.
</p>
<p>
  Join
</p>
  
<div class="form-group">
  <label for="start-orgList">List of orgs to join:</label>
  <select class="form-control" id="start-orgList" [(ngModel)]="joinOrg" required #organisationToJoin="ngModel">
    <option *ngFor="let org of organisations" [ngValue]="org">{{org.name}}</option>
  </select>
  <div class="alert alert-danger" *ngIf="organisationToJoin.touched && !organisationToJoin.valid">
    You must select an organisation in order to join it.
  </div>
</div>
<button class="btn btn-primary" type="button" id="start-joinButton" (click)="join()">
  Join
</button>

<br/>
<br/>
<p>
  Create a new Organisation
</p>
<div class="form-group">
  <input [(ngModel)]="newOrgName" name="start-organisationName" id="start-organisationName" type="text" 
    class="form-control startText" placeholder="Organisation Name" required #organisationName="ngModel">
  <div class="alert alert-danger" *ngIf="organisationName.touched && !organisationName.valid">
    An Organisation Name is Required
  </div> -->
  <br/>
  <button class="btn btn-primary" type="button" id="start-createButton" (click)="create()">
    Create
  </button>  
</div>

